
@font-face {
  font-family: 'Algerian';
  src: url('../fonts/Algerian.eot') format('embedded-opentype'),
      url('../fonts/Algerian.ttf')  format('truetype'), url('../fonts/Algerian.svg#Algerian') format('svg');
  font-weight: normal;
  font-style: normal;
}
