/* begin header */
header {

  nav.navbar-fixed-top {
    z-index: 1050;
  }

}

@media screen and (max-width: 1024px) {

  header {

    nav {

      .navbar-header {
        position: relative;

        .navbar-brand {
          display: table;
          margin: auto;
          width: 100%;
          position: absolute;
          z-index: -1;
          top: 0;

          img {
            margin: auto;
          }
        }

      }

      &.navbar-default .navbar-toggle {
        margin-right: 0;
        background: transparent;
        border: none;

        .icon-bar {
          background: #000;
        }

        &:hover, &:focus {
          background: transparent;
          border: none;

          .icon-bar {
            background: #000;
          }

        }

      }

    }

    .signUpFree .signupBox .orangeBox {
      display: none;
    }

  }

}

@media screen and (min-width: 1024px) {

  header .navbar-default .navbar-header a.cartIcon {
    display: none;
  }

}

/* end header */

.btn-style {
  @include GothamBold(25px);
  color: $orange;
  padding: 10px 25px;
  display: table;
  margin: auto;
  text-transform: uppercase;
  background: $yellow-1;
}
